
/* font-family: 'Antic Slab', serif;
font-family: 'Caveat', cursive;
font-family: 'Nothing You Could Do', cursive; */


/* * {
    
} */

html {
    scroll-behavior: smooth;
  }

a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: #b3e0ff;
  }

body {
    /* background-image: url(https://res.cloudinary.com/ds7vqqwb8/image/upload/v1596727317/Project%202%20-%20CRUD%20Application/131391-light-blue-polygon-pattern-abstract-background_1_gzffcu.jpg); */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    font-family: Antic Slab, serif;
    background-color: #000000;
}

#title {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Antic Slab', serif;
    font-size: 5vw;
    max-width: size;;
}

#dx {
    text-align: center;
    font-style: italic;
    font-family: 'Caveat', cursive;
    font-size: 3vw;
}


.navbar {
    text-align: center;
    list-style-type: none;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
}

.nav-item {
    font-size: 30px;
    padding-right: 4vw;
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    justify-content: center;
}

.collapse {
    text-align: center;
}

#dropdown-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

#dropdown-title {
    padding: 100px;
}

#provider-info {
    /* border: 1px solid black; */
    margin: .5em;
}

#provider-info-ul {
    list-style-type: none;
    text-align: center
}

#show-selected {
    margin-top: 1em;
    margin-bottom: 1em;
}

.container {
    display: inline
}



.jumbotron {
    /* background: url('http://placekitten.com/800/500') no-repeat center center; */
    /* background-size: cover; */
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 30%;
    text-align: center;
    /* display: inline; */
  }

  .jumbotron-container {
      display: flex;
      flex-direction: row;
      margin-left: 3em;
      margin-right: 3em;
      flex-wrap: wrap;
  }

  #carouselExampleIndicators {
      max-width: 700px;
      max-height: 400px;
  }

  .fact {
    font-family: 'Antic Slab', serif;
    font-size: 30px;
  }

  .resource {
    font-family: 'Caveat', cursive;
    font-size: 20px;
    color: white;
  }

  #facts-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }