* {
    border: 1px solid black;
}

h1 {
    text-align: center;
}


.navbar {
    text-align: center;
    list-style-type: none;
}

#provider-info-ul {
    list-style-type: none;
    text-align: center
}