
/* font-family: 'Antic Slab', serif;
font-family: 'Caveat', cursive;
font-family: 'Nothing You Could Do', cursive; */


html {
    scroll-behavior: smooth;
  }

a:link {
    color: white;
  }
  
  /* visited link */
a:visited {
    color: white;
  }
  
  /* mouse over link */
a:hover {
    color:teal;
  }

body {
    font-family: Antic Slab, serif;
}

#title {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Antic Slab', serif;
    font-size: 3em;
    max-width: size;;
}

.section-headings {
    font-family: 'Antic Slab', serif;
    text-align: center;
    font-size: 2em;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#dx {
    text-align: center;
    font-style: italic;
    font-family: 'Caveat', cursive;
    font-size: 2em;
}


.navbar {
    text-align: center;
    list-style-type: none;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
}

li .nav-item {
    font-size: 2em;
    padding-right: 4vw;
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    justify-content: center;
}

.nav-link {
    font-size: 1em;
    padding-right: 4vw;
    display: flex;
    justify-content: center;
}

.collapse {
    text-align: center;
}

#dropdown-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#dropdown-title {
    padding: 100px;
}

#provider-info {
    margin: .5em;
    text-align: center;
    
}

#provider-info-ul {
    list-style: none;
    font-size: 1em;
    margin-top: 10px;
}

#show-selected {
    margin-top: 1em;
    margin-bottom: 1em;
}

.container {
    display: inline
}


.jumbotron {
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 30%;
    text-align: center;
    max-width: 200px;
    max-height: 300px;
    min-width: 200px;
  }

  .jumbotron-container {
      display: flex;
      flex-direction: row;
      margin-left: 3em;
      margin-right: 3em;
      flex-wrap: wrap;
      justify-content: center;
  }

  /* Instructions in each jumbatron are h5 */
  h5 {
      font-size: 2vw;
      padding-left: 2px;
      padding-right: 5px;
  }

  #carouselExampleIndicators {
      max-width: 700px;
      max-height: 400px;
  }

  .fact {
    font-family: 'Antic Slab', serif;
    font-size: 2vw;
  }

  .resource {
    font-family: 'Caveat', cursive;
    font-size: 1vw;
  }

  #facts-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #resources-section {
      background-color: #3F9EBD;
      opacity: 0.3;
      text-align: center;
      padding: 10px;
  }

 
